* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  background-color: #F5F5F5; 
  color: #333333; 
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #008080; 
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
}

.photo {
  display: block;
  margin: 0 auto;
  border-radius: 15%;
}

.ph {
  border-radius: 10px;
}

h2 {
  color: #00796B; 
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

a {
  color: #FF6F61; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.gallery {
  margin: 20px 0;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.project img {
  margin-right: 15px;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.experience {
  background-color: #E0E0E0;
  padding: 20px;
}

.experience img {
  border-radius: 10px;
}

.experience .container {
  display: flex;
  flex-direction: column;
}

.experience-1, .experience-2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-1 h2, .experience-2 h2 {
  flex: 1;
  margin-right: 20px;
  color: #00796B; 
}

.experience-1 img, .experience-2 img {
  margin-right: 20px;
}

.experience-1 p, .experience-2 p {
  flex: 2;
}

footer {
  background: #008080; 
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.linkedin-link {
  color: #FF6F61; 
}
