* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  background-color: #e0e0e0; 
  color: #333;
  text-align: center; /* Center all text */
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
}

.photo {
  display: block; 
  margin: 0 auto;
  border-radius: 20%; 
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

.gallery {
  margin: 20px 0;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.project img {
  margin-right: 15px;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
